<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=westoragerasbpi;AccountKey=qWOCzyIysZRyI8R9I7tQciVX+HkhOa15Qb841Hty7rKupsQ6Dp+cWdIb+10HaWjy4Af6kU8JmRl5zEWOmTiFGQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>