<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=westoragerasbpi;AccountKey=rilFfmH2pQCDC+4FN+TLXHQh3RMMe/r5QjuHd39CZawSIRZt/ktE08XuE65/zBvn/wKxO+wluEj1XkFXU+9jPA==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>